<div class="container">
  <h1>Bem-vindo ao Accounts!</h1>
  <h3>Seu saldo é de: R$ {{this.balance}}</h3>
  <div class="options">
    <a href="/withdraw" class="option">Sacar</a>
    <a href="/transfer" class="option">Transferir</a>
    <a href="/deposit" class="option">Depositar</a>
    <a href="/logout" class="option">Sair da Conta</a>
  </div>
</div>
