<div class="container">
  <h1>Banco</h1>
  <button onclick="location.href='#'">Mostrar Saldo</button>
  <button onclick="location.href='#'">Sacar</button>
  <button onclick="location.href='#'">Depositar</button>
  <button onclick="location.href='#'">Transferir</button>
</div>
