<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário com Nome</title>
    <script src="./js/script.js" defer></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="./css/bank.png" />
  </head>
  <body>
    <div class="form-container">
      <h1>Seja bem-vindo ao Accounts!</h1>
      <form id="nameForm">
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Digite seu nome"
        />
        <button type="button">Cadastrar</button>
      </form>
      <p>
        Já tem uma conta? <a href="/login">Clique aqui para fazer login.</a>
      </p>
    </div>
  </body>
</html>
