<form action="/books/insertbook" method="post">
  <div class="form-control">
    <label for="title">Título:</label>
    <input type="text" name="title" placeholder="Digite o título" />
  </div>
  <div class="form-control"></div>
    <label for="pagesqty">Número de Páginas:</label>
    <input type="number" name="pagesqty" placeholder="Quantas páginas o livro possui" />
  <input type="submit" value="Cadastrar"></div>
</form>